Client/Connected Services/ProxyTopAlumno/WCF_Notas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Notas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Notas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTopAlumnoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopAlumnoBE" nillable="true" type="tns:TopAlumnoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopAlumnoBE" nillable="true" type="tns:ArrayOfTopAlumnoBE" />
  <xs:complexType name="TopAlumnoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo_alumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento_alumno" type="xs:int" />
      <xs:element minOccurs="0" name="Full_name_alumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono_alumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopAlumnoBE" nillable="true" type="tns:TopAlumnoBE" />
</xs:schema>