Client/Connected Services/ProxyCurso/WCF_Notas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Notas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Notas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCursoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursoBE" nillable="true" type="tns:CursoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCursoBE" nillable="true" type="tns:ArrayOfCursoBE" />
  <xs:complexType name="CursoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado_curso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id_curso" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_curso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursoBE" nillable="true" type="tns:CursoBE" />
</xs:schema>