Client/Connected Services/ProxyAñoLectivo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Notas" />
  <xs:element name="InsertAñoLectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Notas" minOccurs="0" name="objAñoLectivoBE" nillable="true" type="q1:AñoLectivoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAñoLectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAñoLectivoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAñoLectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Notas" minOccurs="0" name="objAñoLectivoBE" nillable="true" type="q2:AñoLectivoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAñoLectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAñoLectivoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAñoLectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_año" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAñoLectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAñoLectivoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoLectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_año" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoLectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Notas" minOccurs="0" name="GetAñoLectivoResult" nillable="true" type="q3:AñoLectivoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAñoLectivo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAñoLectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Notas" minOccurs="0" name="GetAllAñoLectivoResult" nillable="true" type="q4:ArrayOfAñoLectivoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>