Client/Connected Services/ProxyAñoLectivo/WCF_Notas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Notas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Notas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AñoLectivoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado_año" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fin_año" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_año" type="xs:int" />
      <xs:element minOccurs="0" name="Inicio_año" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AñoLectivoBE" nillable="true" type="tns:AñoLectivoBE" />
  <xs:complexType name="ArrayOfAñoLectivoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AñoLectivoBE" nillable="true" type="tns:AñoLectivoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAñoLectivoBE" nillable="true" type="tns:ArrayOfAñoLectivoBE" />
</xs:schema>