Client/Connected Services/ProxyGrado/WCF_Notas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Notas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Notas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGradoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GradoBE" nillable="true" type="tns:GradoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGradoBE" nillable="true" type="tns:ArrayOfGradoBE" />
  <xs:complexType name="GradoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_grado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_grado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GradoBE" nillable="true" type="tns:GradoBE" />
</xs:schema>