Client/Connected Services/ServicioGeneroAlumnoActivos/WCF_Notas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Notas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Notas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGeneroAlumnoActivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeneroAlumnoActivo" nillable="true" type="tns:GeneroAlumnoActivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeneroAlumnoActivo" nillable="true" type="tns:ArrayOfGeneroAlumnoActivo" />
  <xs:complexType name="GeneroAlumnoActivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:int" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneroAlumnoActivo" nillable="true" type="tns:GeneroAlumnoActivo" />
</xs:schema>